In [1]:
import yfinance as yf

In [2]:
nifty = yf.Ticker('^NSEI')
nifty.info

{'maxAge': 86400,
 'priceHint': 2,
 'previousClose': 25250.1,
 'open': 25181.9,
 'dayLow': 24966.8,
 'dayHigh': 25485.05,
 'regularMarketPreviousClose': 25250.1,
 'regularMarketOpen': 25181.9,
 'regularMarketDayLow': 24966.8,
 'regularMarketDayHigh': 25485.05,
 'averageVolume': 310261,
 'averageVolume10days': 365490,
 'averageDailyVolume10Day': 365490,
 'fiftyTwoWeekLow': 18837.85,
 'fiftyTwoWeekHigh': 26277.35,
 'fiftyDayAverage': 25033.871,
 'twoHundredDayAverage': 23118.842,
 'currency': 'INR',
 'exchange': 'NSI',
 'quoteType': 'INDEX',
 'symbol': '^NSEI',
 'underlyingSymbol': '^NSEI',
 'shortName': 'NIFTY 50',
 'longName': 'NIFTY 50',
 'firstTradeDateEpochUtc': 1190000700,
 'timeZoneFullName': 'Asia/Kolkata',
 'timeZoneShortName': 'IST',
 'uuid': '9a3680d6-8f20-3f84-8cd3-66d847143a00',
 'messageBoardId': 'finmb_INDEXNSEI',
 'gmtOffSetMilliseconds': 19800000,
 'trailingPegRatio': None}

In [3]:
timeframe = '5y'
nifty_data = nifty.history(period=timeframe)

In [4]:
nifty_data.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2019-10-04 00:00:00+05:30,11388.450195,11400.299805,11158.349609,11174.750000,928500,0.0,0.0
2019-10-07 00:00:00+05:30,11196.200195,11233.849609,11112.650391,11126.400391,733200,0.0,0.0
2019-10-09 00:00:00+05:30,11152.950195,11321.599609,11090.150391,11313.299805,741100,0.0,0.0
2019-10-10 00:00:00+05:30,11280.500000,11293.349609,11208.549805,11234.549805,562000,0.0,0.0
2019-10-11 00:00:00+05:30,11257.700195,11362.900391,11189.400391,11305.049805,737800,0.0,0.0

In [5]:
nifty_info = nifty.info

In [6]:
nifty_data['Previous Close'] = nifty_info['previousClose']
nifty_data['52-Week High'] = nifty_info['fiftyTwoWeekHigh']
nifty_data['52-Week Low'] = nifty_info['fiftyTwoWeekLow']
nifty_data['50-Day Average'] = nifty_info['fiftyDayAverage']
nifty_data['200-Day Average'] = nifty_info['twoHundredDayAverage']

In [7]:
nifty_data.to_csv('nifty_data.csv')