In [103]:
import yfinance as yf

In [105]:
nifty = yf.Ticker('^NSEI')
nifty.info

{'maxAge': 86400,
 'priceHint': 2,
 'previousClose': 25810.85,
 'open': 25788.45,
 'dayLow': 25739.2,
 'dayHigh': 25907.6,
 'regularMarketPreviousClose': 25810.85,
 'regularMarketOpen': 25788.45,
 'regularMarketDayLow': 25739.2,
 'regularMarketDayHigh': 25907.6,
 'averageVolume': 301388,
 'averageVolume10days': 338680,
 'averageDailyVolume10Day': 338680,
 'fiftyTwoWeekLow': 18837.85,
 'fiftyTwoWeekHigh': 26277.35,
 'fiftyDayAverage': 25006.428,
 'twoHundredDayAverage': 23077.352,
 'currency': 'INR',
 'exchange': 'NSI',
 'quoteType': 'INDEX',
 'symbol': '^NSEI',
 'underlyingSymbol': '^NSEI',
 'shortName': 'NIFTY 50',
 'longName': 'NIFTY 50',
 'firstTradeDateEpochUtc': 1190000700,
 'timeZoneFullName': 'Asia/Kolkata',
 'timeZoneShortName': 'IST',
 'uuid': '9a3680d6-8f20-3f84-8cd3-66d847143a00',
 'messageBoardId': 'finmb_INDEXNSEI',
 'gmtOffSetMilliseconds': 19800000,
 'trailingPegRatio': None}

In [111]:
timeframe = '2y'
nifty_data = nifty.history(period=timeframe)

In [113]:
nifty_data.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2022-10-03 00:00:00+05:30,17102.099609,17114.650391,16855.550781,16887.349609,278400,0.0,0.0
2022-10-04 00:00:00+05:30,17147.449219,17287.300781,17117.300781,17274.300781,226000,0.0,0.0
2022-10-06 00:00:00+05:30,17379.250000,17428.800781,17315.650391,17331.800781,265500,0.0,0.0
2022-10-07 00:00:00+05:30,17287.199219,17337.349609,17216.949219,17314.650391,216300,0.0,0.0
2022-10-10 00:00:00+05:30,17094.349609,17280.150391,17064.699219,17241.000000,234000,0.0,0.0

In [115]:
nifty_info = nifty.info

In [117]:
nifty_data['Previous Close'] = nifty_info['previousClose']
nifty_data['52-Week High'] = nifty_info['fiftyTwoWeekHigh']
nifty_data['52-Week Low'] = nifty_info['fiftyTwoWeekLow']
nifty_data['50-Day Average'] = nifty_info['fiftyDayAverage']
nifty_data['200-Day Average'] = nifty_info['twoHundredDayAverage']

In [119]:
nifty_data.to_csv('nifty_data.csv')